org.apache.felix.http.cqse.requestBufferSize=I"8192"
org.apache.felix.https.keystore.password="password"
org.osgi.service.http.port.secure=I"8443"
org.apache.felix.http.timeout=I"60000"
org.apache.felix.http.session.timeout=I"10"
org.apache.felix.https.keystore.key="localhost"
org.apache.felix.https.enable=B"true"
org.apache.felix.http.nio=B"true"
org.apache.felix.http.cqse.max_threads=I"200"
org.apache.felix.https.nio=B"true"
org.apache.felix.https.clientcertificate="none"
org.apache.felix.http.debug=B"false"
org.apache.felix.https.keystore.key.password="password"
org.apache.felix.https.keystore="_KEYSTORE_PATH_"
